<!DOCTYPE html>
<html lang="nl-BE">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="on" http-equiv="cleartype">
    <meta content="True" name="HandheldFriendly">
    <meta content="320" name="MobileOptimized">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base target="_blank">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <main></main>
    <script src="./js/index.js"></script>
</body>
</html>